body{
    background-color: rgb(138, 138, 151);
    color: rgb(255, 255, 255);
}

h1{
    text-align: center;
    font-size: 45px;
}

.title{
    border: solid 10px;
    color: black;
}

.titl{
    padding: 20px 20px 20px 20px;
    height: 60px;
    width: 150px;
    margin-left: 800px;
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 15px;
    border: solid;
    background-color: rgb(189, 189, 189);
    color: rgb(37, 37, 44);
    text-align: center; 
}

.menu{
    display: flex;
    gap: 10px;
    justify-content: center;
    color: darkgrey;
}

.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.search-btn{
    padding: 5px 15px;
    font-size: 14px;
    cursor: pointer;
}

.search-input{
    padding: 5px 10px;
    font-size: 14px;
    width: 200px;
}

.btn1{
    border-radius: 15px;
    width: 200px;
    height: 35px;
}

.btn2{
    border-radius: 15px;
    width: 200px;
    height: 35px;
}

.btn3{
    border-radius: 15px;
    width: 200px;
    height: 35px;
}

img{
    margin: 150px 1px 0 15px;
    width: 250px;
    border-radius: 10px;
    border: solid 5px rgb(68, 8, 8);
}
.books-container{
    display: flex;
    gap: 10px;
}
.book{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ii{
    width: 280px;
    border-radius: 10px;

}
.btn{
    margin-top: 10px;
    padding: 8px 16px;
    background: blue;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.btn:hover{
    background: blue;
}

.im{
    width: 276px;
    border-radius: 10px;
}

.im1{
    width: 274px;
    border-radius: 10px;
}

.im2{
    width: 288px;
    border-radius: 10px;
}

.im3{
    width: 257px;
    border-radius: 10px;
}

.im4{
    width: 263px;
    border-radius: 10px;
}

.search{
    width: 170px;
    height: 25px;
    margin: 0 0 60px 810px;
    border-radius: 5px;
    border: solid 2px;
}

.page {
      display: none;
}

.page.active {
      display: block;
}

.page h1{
    color: black;
}

.description{
    width: 80vw;
    height: 150px;
    box-sizing: border-box;
    padding: 15px;
    border: 3px solid #444;
    border-radius: 10px;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
    overflow: scroll;
    max-width: 300px;
    max-height: 150px;
    color: black;
    background-color: lightgrey;
}


